/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: var(--clr-grey);
    font-size: 14px;
    background: var(--clr-white);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: var(--clr-white);
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--clr-grey);
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: var(--clr-green)  ;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li ul li {
    padding: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: var(--clr-green);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--clr-darkgreen);
  }
  
  #footer .copyright a, i{
    color: var(--clr-green);
  }
  
  #footer .copyright a:hover {
    color: var(--clr-orange) ;
  }